<div class="signin">

  <form method="POST" action="/signin">

    <div class="signinEmail">
      <label
        for="user-email"></label>
    </div>

    <input type="email" name="email"
      id="user-email" placeholder="My email">

    <div class="signinPassword">
      <label
        for="user-pass"></label>
    </div>

    <input type="password"
      name="password" id="user-pass" placeholder="My passeword">

    <div class="signinSubmit">
      <button type="submit">Sign
        In</button>
  </form>
</div>

</div>

{{#if errorMessage}}
<div class="error">{{errorMessage}}
</div>
{{/if}}