<div class="signup"></div>

<form method="POST" action="../signup">

<div class="signupUsername">
<label for="username" placeholder="Username"></label>
</div>
<input type="text" name="username" id="username">

<div class="signupEmail"> 
<label for="user-email" placeholder="Email"></label>
</div>
<input type="email" name="email" id="email">

<div class="signupPassword"> 
<label for="user-pass" placeholder="Password"></label>
</div>
<input type="password" name="password" id="password">

<div class="signupButton">
<button type="submit">Sign Up</button>
</div>
</div>

{{#if errorMessage}}
  <div class="error">{{errorMessage}}</div>
{{/if}}  
