<div class="index">
  <div class="header"><h1>Sweetals</h1></div>
  <ul>
    <li id="to-right">
      <a href="/signin" ><button class="butSignin">Sign In</button></a>
    </li>
    <li id="to-right">
      <a href="/signup"><button class="butSignup">Sign Up</button> </a>
    </li>
    
  </ul>
  
</div>