<div class="index">
  <div class="header"><h1>Sweetals</h1></div>
  <ul>
    <li id="to-right">
      <a href="/signin"><button>Sign In</button></a>
    </li>
    <li id="to-right">
      <a href="/signup" class = "signup"><button>Signup</button> </a>
    </li>
    
  </ul>
</div>