<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible"
    content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet"href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/login.css" />

</head>

<body >

  
 {{#if userData}}
   <nav>
    <ul>
      <li></li>
      <a href="/flowerList">List of flowers</a> 
      </li>

      <li></li>
      <a href="/userRecipe">My recipes</a> 
      </li>
    </ul>

   <li>
      <a href="/logout"><button class="butLogout">Log out</button> </a>
    </li>
    
  </nav>

<p>Hello {{userData.username}}</p>

{{/if}}

  {{{body}}}

  <script
    src="/javascripts/script.js"></script>


</body>

</html>

