<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible"
    content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet"href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/login.css" />

</head>

<body >

  
    {{!-- <ul>
      <li id="to-left">
        <p><a href="/"> Sweetals </a>
        </p>
      </li>
      <li id="to-right">
        <a href="/signup">Signup</a>
      </li>
      <li id="to-right">
        <a href="/signin">Sign In</a>
      </li>
    </ul>
  </nav> --}}
{{#if userData}}
   <nav>
    <ul>
      <li id="to-right"></li>
      <a href="/flowerList">List of flowers</a> 
      </li>

      <li id="to-right"></li>
      <a href="/userRecipe">My recipes</a> 
      </li>
    </ul>
  </nav>

 
<p>Hello {{userData.username}}</p>

{{/if}}
  {{{body}}}

  <script
    src="/javascripts/script.js"></script>


</body>

</html>

