/* Media screen for : IPhone 6+, 7+, 8+ PLUS */

body {
  margin: 0;
  padding: 0;
}

a {
  color: #c6004d;
  text-decoration: none;
  font-size: 1.5em;
}


@media only screen
and (min-device-width: 414px) and (max-device-width: 736px)
{

}
/* ------- PROFIL  -------- */

.index {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../images/profil_bg.jpg");
  background-repeat:no-repeat;
  width: 100vw;
  /* relative to the width of my screen, vh is for height */
  height: 100vh;
  background-size:cover;
  text-align: center;
}

.header{
  background-color: rgba(255, 255, 255,0.5) ;

}

h1{
  color: #c6004d;
  margin-top: 70px;
  font-size: 50px;
}

ul {
  margin-top: 0;
  list-style-type: none;
}

 button{
   border: 2px solid #c6004d;
   background-color: rgba(255, 255, 255,0.5) ;
   border-radius: 10px;
   font-size: 24px;
   color:  #c6004d;
   padding: 10px 35px ;
   cursor: pointer;
 }

 button:hover{
  background-color: rgba(255, 255, 255,0.7);
 }


 .signup{
   display: inline-block;
   margin: 30px 0 120px 0;}   

/* ------- End PROFIL   -------- */

/* ------- SIGNIN   -------- */
.signin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../images/profil_bg.jpg");
  background-repeat:no-repeat;
  width: 100vw;
  height: 100vh;
  background-size:cover;
  text-align: center;
}
.signinEmail{
margin-top: 300px;
}
.signinPassword{
margin:30PX 0 ;
}
.signinSubmit{
  padding-top: 70px;
}

input[type = email] ,  [type = password]{
  border: 2px solid #c6004d;
  background-color: rgba(255, 255, 255,0.5) ;
  border-radius: 10px;
  font-size: 24px;
  color:  #c6004d;
  padding: 10px 35px ;

}

/* ------- End SIGNIN   -------- */

/* ------- SIGNUP   -------- */
.signup{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../images/profil_bg.jpg");
  background-repeat:no-repeat;
  width: 100vw;
  height: 100vh;
  background-size:cover;
  text-align: center;
}

/* 
.signupUsername{
margin-top: 300px;
}
.signupPassword{
margin:30PX 0 ;
}

.signupButton{
  padding-top: 70px;
} */




/* ------- End SIGNUP   -------- */

/* 
 body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: pink;
  text-decoration: none;
  font-size: 1.5em;
}

form {
  margin: 30px auto;
  width: 380px;
}

form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

form input,
form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
  
}



form button {
  background: #4e0725;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
}

form button:hover {
  background: #fff;
  color: #f02b63;
  transition: 0.3s ease background;
}

.error {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

ul {
  border-bottom: 2px solid #f02b63;
  height: 70px;
  padding: 1em 0;
  list-style-type: none;
}

ul li {
  line-height: 20px;
}

#to-right {
  padding: 1em;
  float: right;
}

#to-right span {
  color: #000;
  font-size: 1.5em;
}

#form h2 {
  display: flex;
  justify-content: center;
}

#to-left {
  float: left;
}

#to-left p a {
  color: orange;
  font-weight: bold;
  font-size: 2em;
}

  */
