
  .finalRecipe{
    display: inline;
    text-align: justify;
    text-align: center;

  }

  img{
  display: inline;
  width: 200px;
  height: 200px;
  padding: 5px;
  border: 1px solid blue;
  background-color: yellow;
  }

  .imageContainer {
    display: flex;
    flex-wrap: wrap;
  }

  .flowerImage {
    padding:20px;
  }

  footer {
    margin-bottom: 0;
  }

  .recipe:nth-of-type(odd) {
    display: flex;
  }
  .recipe:nth-of-type(even) {
    display: flex;
    flex-direction: row-reverse;
  }

  .MainTitle{

    text-align: center;

  }
/* Media screen for : IPhone 6+, 7+, 8+ PLUS */

body {
  margin: 0;
  padding: 0;
}

a {
  color: #c6004d;
  text-decoration: none;
  font-size: 1.5em;
}


/* @media only screen
and (min-device-width: 414px) and (max-device-width: 736px)
{
} */
 

/* ----------- FLOWERINFO ----------- */

.flowerInfo{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipe:nth-of-type(odd) {
  display: flex;
}
.recipe:nth-of-type(even) {
  display: flex;
  flex-direction: row-reverse;
}
