img {
  display: inline;
  width: 200px;
  height: 200px;
  padding: 5px;
  border: 1px solid blue;
  background-color: yellow;
}

.imageContainer {
  display: flex;
  flex-wrap: wrap;
}

.flowerImage {
  padding: 20px;
}

footer {
  margin-bottom: 0;
}

.recipe:nth-of-type(odd) {
  display: flex;
}

.recipe:nth-of-type(even) {
  display: flex;
  flex-direction: row-reverse;
}

.MainTitle {

  text-align: center;

}

/* Media screen for : IPhone 6+, 7+, 8+ PLUS */

body {
  margin: 0;
  padding: 0;
}

a {
  color: #c6004d;
  text-decoration: none;
  font-size: 1.5em;
}


/* @media only screen
and (min-device-width: 414px) and (max-device-width: 736px)
{
} */


/* ----------- FLOWERINFO  Aurore----------- */

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 40px 0 0 90px;
  font-size: 20px;
}

nav li {
  margin-right: 10px;
}

nav li:hover {
  margin-right: 10px;
  text-decoration: underline;
}

/* a:active{
  text-decoration: underline;

} */

.recipeContainer {
  padding: 120px 100px;
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  border-style: 2px solid #c6004d;

}


.flowerInfo {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  margin-bottom: 100px;

}

.recipe:nth-of-type(odd) {
  display: flex;
  border: 1px solid #c6004d;
  padding: 40px 20px;
  margin: 40px 0;

}

.recipe:nth-of-type(odd):hover {
  display: flex;
  background-color: rgba(198, 0, 77, 0.1);
  border: 1px solid #c6004d;
  padding: 40px 20px;

}

.recipe:nth-of-type(even) {
  display: flex;
  flex-direction: row-reverse;
  border: 1px solid #c6004d;
  padding: 40px 20px;

}

.recipe:nth-of-type(even):hover {
  display: flex;
  flex-direction: row-reverse;
  border: 2px solid #c6004d;
  background-color: rgba(198, 0, 77, 0.1);
  padding: 40px 20px;
}

.imgRecipe {
  display: inline-block;
  width: 300px;
  height: 300px;
  object-fit: cover;
  /* to make im square */
  background: transparent;
  margin: 0 30px;
}

.recipeText p {
  text-overflow: ellipsis;
  font-size: 20px;
}

.butAddContainer {
  text-align: center;
}

.butAddRecipe {
  border: 2px solid #c6004d;
  background-color: rgba(198, 0, 77, 0.2);
  border-radius: 10px;
  font-size: 24px;
  color: #c6004d;
  padding: 10px 120px;
  cursor: pointer;
  margin: 40px;
}

.butAddRecipe:hover {
  background-color: rgba(198, 0, 77, 0.1);
}

@media screen and (max-width: 414px) {
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px 0 0 20px;
  }

  nav li {
    margin-right: 5px;
    font-size: 15px;
  }

  .recipeContainer {
    padding: 20px 20px;
    display: flex;
    flex-wrap: nowrap;
  }

  .imgRecipe {
    display: inline-block;
    width: 80px;
    height: 80px;
    object-fit: cover;
    /* to make im square */
    background: transparent;
    margin: 0 5px;
  }

  .recipe {
    max-height: 50px;
  }

  .recipeText p {
    text-overflow: ellipsis
  }

}