<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

 <nav>
    <ul>
      <li id="to-right"></li>
      <a href="/flowerList">List of flowers</a> <span> | </span>
      </li>

      <li id="to-right"></li>
      <a href="/userRecipe">My favorite recipes</a> <span> | </span>
      </li>

      <li id="to-right"></li>
      <a href="/flowerInfo">My recipes</a> <span> | </span>
      </li>

      <li id="to-right"></li>
      <a href="/finalRecipe">Recipe Steps</a> <span> | </span>
      </li>

       <li id="to-right"></li>
      <a href="/myRecipes">Recipe Steps</a> <span> | </span>
      </li>

    </ul>
  </nav>


  <h3> {{recipe.title}}</h3>
