<nav>
  <ul>
    <li id="to-right"></li>
    <a href="/flowerList">List of flowers</a> <span> | </span>
    </li>

    <li id="to-right"></li>
    <a href="/userRecipe">My recipes</a> <span> | </span>
    </li>
  </ul>
</nav>



 {{#each flowers}}
  <h3>{{this.name}} </h3>
  <p>{{this.family}} </p>
 <a href="/flowerInfo/{{this._id}}"><img src="{{this.img}}" ></a>
{{/each}} 
</div>




