 <nav>
    <ul>
      <li></li>
      <a href="/flowerList">List of flowers</a> 
      </li>

      <li></li>
      <a href="/userRecipe">My recipes</a> 
      </li>
    </ul>

   <li>
      <a href="/logout"><button class="butLogout">Log out</button> </a>
    </li>
    
  </nav>

<div class="MainTitle">
<h1>[ Edible Flowers ]</h1>
<h3>Pick a flower</h3>
</div>

<div class="imageContainer">
 {{#each flowers}}
 <div class="flowerImage">
   <div class="MainTitle">
  <h3>{{this.name}} </h3>
  <p>{{this.family}} </p>
  </div>
  
 <a href="/flowerInfo/{{this._id}}"><img src="{{this.img}}" ></a>
 </div>
{{/each}} 
</div>
{{!-- src="images/BeeBalm.jpg" --}}
