

  {{#each flowers}}
    <h3>Name : {{this.name}}</h3>
    <p>Family: {{this.family}} </p>
    <p>More about the flower: {{this.description}}</p>
    <a href="/views/users/newRecipe">Add a recipe</a>
  {{/each}}
