
  {{#each flowers}}
  <h3>Name : {{this.name}}</h3>
  <p>Family: {{this.family}} </p>
 <img src="{{this.img}}">
  <p>More about the flower:
    {{this.description}}</p>
  {{/each}}
  <a href="/newRecipe">Add a recipe</a>