

  <nav>
    <ul>
      <li id="to-right"></li>
      <a href="/flowerList">List of flowers</a> <span> | </span>
      </li>

      <li id="to-right"></li>
      <a href="/newRecipe">Make your own recipe</a> <span> | </span>
      </li>

      <li id="to-right"></li>
      <a href="/userRecipe">My favorite recipes</a> <span> | </span>
      </li>

      <li id="to-right"></li>
      <a href="/flowerInfo">Recipes with this flower</a> <span> | </span>
      </li>
    </ul>
  </nav>

  {{#each flowers}}
  <h3>Name : {{this.name}}</h3>
  <p>Family: {{this.family}} </p>
 <p>Pics: {{this.img}}</p>
  <p>More about the flower:
    {{this.description}}</p>
  {{/each}}
  <a href="/newRecipe">Add a
    recipe</a>

