  <nav>
    <ul>
      <li>
      <a href="/flowerList">List of flowers</a> 
      </li>

      <li>
      <a href="/userRecipe">My recipes</a> 
      </li>
    </ul>

   <li>
      <a href="/logout"><button class="butLogout">Log out</button> </a>
    </li>
  </nav>


<form method="POST" action="/flowerInfo/{{flowerId}}/newRecipe">
  <label for="title">Title</label>
  <input type="text" name="title"
    id="title">

  <label for="cookingTime">Cooking
    Time</label>
  <input type="number"
    name="cookingTime" id="cookingTime">

  <label for="numberOfPeople">Number of
    people</label>
  <input type="number"
    name="numberOfPeople"
    id="numberOfPeople" min="1">

 <label
    for="ingredients">Ingredients</label>
  <textarea  name="ingredients" rows="10"
    cols="30"
    placeholder="Ingredients">{{recipe.ingredients}}</textarea>

  <label
    for="preparation">Preparation</label>
  <textarea  name="preparation" rows="10"
    cols="30"
    placeholder="Your recipe here">{{recipe.preparation}}</textarea>

  <button type="submit">Save</button>
</form>

{{!--new--}}
<div>
{{#if showSuccessMessage}}
<p>You create a recipe!</p>
{{/if}}

{{#if showFailureMessage}}
<p>Something went wrong dude<p>
{{/if}}
</div>

