<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

 <nav>
    <ul>
      <li id="to-right"></li>
      <a href="/flowerList">List of flowers</a> <span> | </span>
      </li>

      <li id="to-right"></li>
      <a href="/userRecipe">My favorite recipes</a> <span> | </span>
      </li>

      <li id="to-right"></li>
      <a href="/flowerInfo">Recipes with this flower</a> <span> | </span>
      </li>

      <li id="to-right"></li>
      <a href="/userRecipe">My list of recipes</a> <span> | </span>
      </li>

        <li id="to-right"></li>
      <a href="/finalRecipe">Recipe Steps</a> <span> | </span>
      </li>
    </ul>
  </nav>

<form method="POST" action="/flowerInfo/{{flowerId}}/newRecipe">
  <label for="title">Title</label>
  <input type="text" name="title"
    id="title">

  <label for="cookingTime">Cooking
    Time</label>
  <input type="number"
    name="cookingTime" id="cookingTime">

  <label for="numberOfPeople">Number of
    people</label>
  <input type="number"
    name="numberOfPeople"
    id="numberOfPeople" min="1">

  <label
    for="description">recipe</label>
  <textarea name="description" rows="10"
    cols="30"
    placeholder="Your recipe here"></textarea>
  {{!-- //when the user submits this form, how will we pass the flower details ? --}}

  {{!--<a href="/newRecipe/{{userData}}/userRecipe"></a> --}}
  <button type="submit">Save</button>
</form>

{{!--new--}}
<div>
{{#if showSuccessMessage}}
<p>You create a recipe!</p>
{{/if}}

{{#if showFailureMessage}}
<p>Something went wrong dude<p>
{{/if}}
</div>