

{{!-- <form>
 <form method="post" action="/newRecipe/create">
<label for="tittle">Tittle</label>
<input type="String" name="tittle" id="tittle">
<label for="cookingtime">Cooking Time</label>
<input type="Number" name="cookingtime" id="cookingtime">
<label for="numberofpeople">Number of people</label>
<input type="Number" name="people" id="people">
<label for="description">Description</label>
<input type="String" name="description" id="description">
<button formmethod="POST" formaction="/newRecipe/create" type="submit">Save</button>
</form> --}}

<form method="POST" action="/newRecipe">
  <label for="title">Title</label>
  <input type="text" name="title"
    id="title">

  <label for="cookingTime">Cooking
    Time</label>
  <input type="number"
    name="cookingTime" id="cookingTime">

  <label for="numberOfPeople">Number of
    people</label>
  <input type="number"
    name="numberOfPeople"
    id="numberOfPeople" min="1">

  <label
    for="description">recipe</label>
  <textarea name="description" rows="10"
    cols="30"
    placeholder="Your recipe here"></textarea>



  <button type="submit">Save</button>
</form>

<div id="carouselExampleSlidesOnly"
  class="carousel slide"
  data-ride="carousel">
  <div class="carousel-inner">
    {{#each flowers}}
    <div class="carousel-item active">
      <img src="{{this.img}}"
        class="d-block w-100" alt="flo">
      <p>{{this.name}}</p>
    </div>
    {{/each}}
  </div>
</div>

