<nav>
  <ul>

    <li id="to-right"></li>
    <a href="/flowerList">List</a>
    <span> | </span>
    </li>

    <li id="to-right"></li>
    <a href="/newRecipe">Make your own
      recipe</a> <span> | </span>
    </li>

    <li id="to-right"></li>
    <a href="/userRecipe">Favorite</a>
    <span> | </span>
    </li>

    <li id="to-right"></li>
    <a href="/flowerInfo">Flower
      list</a> <span> | </span>
    </li>
  </ul>
</nav>



{{#if errorMessage}}
  <div class="error">{{errorMessage}}</div>
{{/if}}  


<div>new recipe page!!</div>