
 <nav>
    <ul>
      <li id="to-right"></li>
      <a href="/flowerList">List of flowers</a> <span> | </span>
      </li>

      <li id="to-right"></li>
      <a href="/userRecipe">My favorite recipes</a> <span> | </span>
      </li>

      <li id="to-right"></li>
      <a href="/flowerInfo">My recipes</a> <span> | </span>
      </li>

      <li id="to-right"></li>
      <a href="/finalRecipe">Recipe Steps</a> <span> | </span>
      </li>

       <li id="to-right"></li>
      <a href="/myRecipes">Recipe Steps</a> <span> | </span>
      </li>

    </ul>
  </nav>

 {{!-- here we need to create  a loop with #each to show the list of recipe saved in : newRecip.hbs, link to userData --}}
 {{!--4loop to show all the recipes*/ --}}

<div>
 {{#each recipes}}
 <a href="/finalRecipe/{{this._id}}">Title : {{this.title}}</a>
{{/each}}
</div>

<div>new recipe page!!</div>


