 <nav>
    <ul>
      <li id="to-right"></li>
      <a href="/flowerList">List of flowers</a> <span> | </span>
      </li>

      <li id="to-right"></li>
      <a href="/newRecipe">Make your own recipe</a> <span> | </span>
      </li>

      <li id="to-right"></li>
      <a href="/userRecipe">My favorite recipes</a> <span> | </span>
      </li>

      <li id="to-right"></li>
      <a href="/flowerInfo">Recipes with this flower</a> <span> | </span>
      </li>
    </ul>
  </nav>

{{#each userData}}
  <h3>Name : {{this.name}} </h3>
  {{/each}}
  


<div>new recipe page!!</div>